.css-j5r0tf {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #7E99AB;
  }
  
  .diagnosis {
    color: #fff;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
  }
  
  .diagnosis.benign {
    background-color: #01DB4B
  }
  
  .diagnosis.malicious {
    background-color: #ff4b4b
  }

  div.stButton > button#stFloatingButton {
    position: fixed;
    bottom: 10px;
    right: 60px;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
